<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- environment -->
  <add key="session-expiration" value="60" />
  <add key="log-path" value="D:\Work\A5-Material\Git\" />
  <!-- directory service -->
  <add key="directory-domain" value="" />
  <add key="directory-url" value="" />
  <add key="directory-container" value="" />
  <add key="directory-browser-username" value="" />
  <add key="directory-browser-password" value="" />
  <!-- cors allowed origins -->
  <add key="allowed-origins" value="http://localhost:4200" />
  <add key="allowed-headers" value="*" />
  <add key="allowed-methods" value="*" />
</appSettings>